@media (max-width: 830px) {
    #root {
        margin: 0 30px;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 3px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__btns {
    display: flex;
}

.page__wrapper {
    width: 100%;
    margin-top: 20px;
    display: flex;
}

.page {
    margin: 0 5px;
    border: 3px solid teal;
    padding: 10px;
    cursor: pointer;
}

.page__current {
    border: 4px solid orange;
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100vw;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightskyblue;
}

.navbar__links {
    margin-left: auto;
    margin-right: 50px;
}