.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px teal dashed;
    text-align: center;
    animation: loader linear 2.5s infinite;
}

@keyframes loader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}