.header__div {
    position: relative;
    left: 36%;
    margin-bottom: 20px;
    border-radius: 0 20px;
    background-color: teal;
    width: fit-content;
    height: fit-content;
    box-shadow: -10px 10px 10px #e17120;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.header__p {
    margin: 5px;
    color: lightskyblue;
    font-weight: 800;
}