.header__div {
    position: relative;
    left: 2%;
    top: 15%;
    margin-bottom: 20px;
    border-radius: 0 20px;
    background-color: teal;
    width: fit-content;
    height: fit-content;
    box-shadow: -5px 5px 5px #e17120;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.header__p {
    margin: 2px;
    color: lightskyblue;
    font-weight: 800;
}